* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* background-color: rgb(58, 56, 56); */
}

.header-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
}
.logo {
  width: 70px;
  height: 70px;
}
.nav {
  display: flex;
  justify-content: space-between;
  width: 85%;
  align-items: center;
  margin-top: 10px;
}
.nav-menu {
  display: flex;
  list-style: none;
}
.nav-menu_item {
  text-decoration: none;
  color: var(--bg-text-secondary);
  margin: 0 10px;
  font-family: var(--font-primary);
  font-size: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 150px;
}
.hero_img {
  height: auto;
  width: 500px;
  margin-bottom: 30px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
}
.contianer__form {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 10px;
  border-radius: 2em;
  margin: auto;
}

.form__input {
  font-size: 1rem;
  font-size: 75px;
  width: 400px;
  height: 100px;
  border: 10px solid #000105;
  border-bottom: 5px solid #000105;
  background-color: transparent;
  color: var(--text-color);
  outline-style: none;
  background-color: #b2b9b7;
  text-align: right;
  padding-right: 5px;

}
.calculator {
  width: 400px;
  background-color: #01020b;
  border: 10px solid #000105;
  border-top: 0px solid #000105;

}
.row {
  width: 100%;
}
.btn_black{
  font-size: 25px;
  width: 100%;
  height: 80px;
  background-color: #217c7e;
  outline: none;
  border-radius: 5px;
  padding: 4px;
}
.btn_black:focus , .btn_orange:focus, .btn_blue:focus {
 opacity: 0.9;
}
.btn_orange{
  font-size: 25px;
  width: 100%;
  height: 80px;
  background-color: #ff8f1f;
  outline: none;
  border-radius: 5px;
  padding: 4px;
}

.btn_blue{
  font-size: 25px;
  width: 100%;
  height: 80px;
  background-color: #1d90ff;
  outline: none;
  border-radius: 5px;
  padding: 4px;

}

.result {
  background-color: #3882f6;
  border: none;
  border-radius: 25px;
  font-size: 1rem;
  width: 100%;
  color: black;
  padding: 16px;
  font-weight: bold;
  margin-bottom: 1.5rem;
}
.result:hover {
  cursor: pointer;
}
.result:disabled {
  cursor: not-allowed;
}

/* footer*/

.footer_desc {
  text-align: center;
  padding: 30px 0;
  font-size: 24px;
  margin-top: 150px;
}
